body {
    display: flex;
    background-color: pink;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

div {
    height: 100px;
    width: 100px;
    background-color: white;
}

div:nth-child(even) div:nth-child(odd) {
    background-color: black;
}

div:nth-child(odd) div:nth-child(even) {
    background-color: black;
}