body{
    font-family : arial, sans serif;
    color: #f53b3b;
    font-size: 1em; /* taille caractére */
}

.dspflex{
    display: flex;
}

.div1 {
    background-color: red;
    height:100px;
    width: 100px;
}

.div2 {
    background-color: yellow;
    height:100px;
    width: 100px;
}

nav ul {
    list-style-type: none; /* supprime les puces */ 
    margin : 0;
    padding: 0;
    display: flex; /* Utilise flexbox pour aligner les éléments */
    justify-content: space-around; /* Espace les éléments de manière égale */
    background-color: #6C5b7b;

}

nav ul li {
    margin: 0;
    padding: 0;

}

nav ul li a {
    display: block;
    padding: 20px 20px; /* taille du bandeau */
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #111; /* Couleur de fond au survol */
}

footer{
    margin-top: 32px;
}

.footer {
    margin-top: 16px;
    display: flex;
}